.category {
  scroll-margin-top: 20px;

  &:not(:last-of-type) {
    padding-bottom: 18px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--color-neutral-200);
  }

  & .heading {
    display: flex;
    column-gap: 12px;
    align-items: center;
    margin-bottom: 10px;

    &::after {
      flex: 1;
      height: 1px;
      margin-left: 4px;
      content: '';
      background: linear-gradient(90deg, var(--color-neutral-200), transparent);
    }

    & .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 36px;
      width: 36px;
      height: 36px;
      font-size: var(--font-sm);
      color: var(--color-foreground);
      background-color: var(--color-neutral-100);
      border: 1px solid var(--color-neutral-200);
      border-radius: 50%;
    }

    & .title {
      font-family: var(--font-display);
      font-size: var(--font-lg);
      font-weight: 600;
      line-height: 1.2;
    }
  }
}
